.page-margins{
    padding-top: 140px;
    padding-bottom: 140px;
}

.contact-title h1{
    font-size: 200px;
    color: #8ACE00;
}

.form-message{
    padding: 8px 12px 200px 12px;
    margin-bottom: 40px;
    font-size: 24px;
    font-family: 'roboto';
}

.contact-arrow{
    rotate: -135deg;
    height: 180px;
}

.contact-info p{
    margin-bottom: 8px;
}

.contact-icons{
    margin-top: 8px;
}