
/* location */
.locationbgimage {
    background-image: url('../Images/bertusfrontsign.jpg');
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: -600px;
    height: 100vh;
    box-shadow: inset 0 0 0 1000px #1617156a;
    border-bottom: 8px solid #8ACE00;
}

.loc-title-margin{
    margin-top: 280px;
    margin-bottom: 8px;
}

.loc-title-margin-bottom{
    margin-bottom: 8px;
    margin-top: 40px;
}

.loc-info-margin p{
    margin-bottom: 8px;
}
/* herosection */

/* gym gallery end */
.gym-gallery-section{
    margin-top: 40px;
}

.gallery-img {
    height: 320px;
    object-fit: cover;
    display: block;
    border-radius: 15px;
}
/* gym gallery end */

.google-location h2{
    margin-top: 40px;
    margin-bottom: 40px;
}