* {
    margin: 0;
    padding: 0;
}

/* main */
body{
    background-color: #161715;
}

p{
    color: white;
    font-size: 24px;
    font-family: 'roboto';
}

h1{
    color: white;
    font-family: 'bebas neue';
}

h2{
    color: white;
    font-size: 64px;
    font-family: 'oswald';
    font-weight: bold;
}

h3{
    color: white;
    font-size: 24px;
    font-family: 'roboto';
}

/* buttons */
.button-reg {
    background-color: #A5F502;
    border: 3px solid #A5F502;
    padding: 16px 20px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000085;
}
.button-reg:hover{
    background-color: #1D2A0E;
    padding: 16px 20px;
    border-radius: 50px;
    border: 3px solid #A5F502;
    box-shadow: 0px 4px 4px #00000085;
}

.button-text {
    font-family: 'Roboto';
    text-decoration: none;
    color: #161715;
    font-weight: bold;
    font-size: 24px;
}
.button-text:hover{
    font-family: 'Roboto';
    text-decoration: none;
    color: #A5F502;
    font-weight: bold;
    font-size: 24px;
}

/* navigation bar */
.nav-bg-opacity {
    background-color: #16171555;
    background-image: linear-gradient(rgb(22, 23, 21), rgba(0, 0, 0, 0));
    z-index: 99;
}
.nav-head {
    font-size: 36px;
    font-family: 'Bebas Neue';
    color: white;
}
.nav-head:hover {
    color: #8ACE00;
}

hr{
    height: 80px; 
    width: 100%; 
    background-color: #89ce00; 
    margin-top: 0px;
}

.target {
    display: none;
    padding-top: 140px;
}

.target:target {
    display: block;
}

.form-gym{
    padding: 8px 12px;
    margin-bottom: 20px;
}


